<!DOCTYPE html>
<html>
	<head>
		<title>31core - About</title>
		<link href="/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<!-- logo -->
		<h2 style="color:white;-webkit-text-stroke:2px #66cbea;"><img src="/image/31.png" width=40>31core's website</h2>
		{% autoescape false %}
		{{menu}}
		{% endautoescape %}

		<p class="title">About me:</p>
		<p class="content">
			<span>
				<iframe src="/resource/31.html" frameborder="no" height=250></iframe>
				<br>
				<a style="text-align: center;">31core</a>
			</span>
			<br>
			I'm an anime lover, a personal developer, a content maker at bilibili.<br>
			<br>
			About my icon:<br>
			It came from <a href="https://make.girls.moe">make.girls.moe</a> (A online anime character creation website).
		</p>
		<p class="title">Contact:</p>
		<p class="content">
			<img src="https://bilibili.com/favicon.ico" width=20>
			bilibili: <a style="float:right;" class="button" href="https://space.bilibili.com/417911876">here</a>
			<br><br>
			<img src="https://twitter.com/favicon.ico" width=20>
			Twitter: <a style="float:right;" class="button" href="https://twitter.com/im31core">here</a>
			<br><br>
			<img src="https://gitlab.com/favicon.ico" width=20>
			GitLab: <a style="float:right;" class="button" href="https://gitlab.com/31core">here</a>
			<br><br>
			<img src="https://github.com/favicon.ico" width=20>
			GitHub: <a style="float:right;" class="button" href="https://github.com/31core">here</a>
			<br><br>
			<img src="https://tlgr.org/favicon.ico" width=20>
			Telegram: <a style="float:right;" class="button" href="https://tlgr.org">@im31core</a>
			<br><br>
			Email: 
			<a class="label">
				im31core@yandex.com
			</a>
		</p>
		<a href="/version" style="font-size:1px;">website version</a>
		<a href="/status" style="font-size:1px;">server status</a>
	</body>
</html>
