<!DOCTYPE html>
<html>
	<head>
		<title>31core</title>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<link href="http://api.bilibili.com/x/relation/stat?vmid=417911876" rel="json" type="application/json">
	</head>
	<body>
		<!-- logo -->
		<h2 style="color:white;-webkit-text-stroke:2px #66cbea;"><img src="/image/31.png" width=40>31core's website</h2>
		{% autoescape false %}
		{{menu}}
		{% endautoescape %}

		<!-- 'My projects' title -->
		<p class="title">My projects:</p>
		<p class="content">
			<!-- illumi kernel -->
			<a href="/illumi">illumi kernel</a>
			<a style="float:right;" class="button" href="https://github.com/31core/illumi">GitHub</a>
			<br><br>
			<!-- Anicat Programming Language -->
			<a href="/anicat">Anicat Programming Language</a>
			<a style="float:right;" class="button" href="https://github.com/31core/anicat">GitHub</a>
			<br><br>
			<!-- Anicoin -->
			<a href="https://gitlab.com/31core/anicoin">Anicoin</a>
			<a style="float:right;" class="button" href="https://github.com/31core/anicoin">GitHub</a>
			<br>
		</p>

		<!-- Some recommended software -->
		<p class="title">Some recommended software:</p>
		<p class="content">
			My favorite OS:
			<a style="float:right;" class="button" href="https://ubuntu.com">Ubuntu</a><br><br>

			My favorite BSD system:
			<a style="float:right;" class="button" href="https://freebsd.org">FreeBSD</a><br><br>

			My favorite programming language:
			<a style="float:right;" class="button" href="https://python.org">Python</a>
		</p>

		<!-- My space -->
		<p class="title">Space</p>
		<a class="button" href="/space">Space Page</a>
		<!-- 网易云嵌入式播放器 -->
		<iframe style="position:fixed;right:10%;top:80%;" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="{{music_url}}"></iframe>
	</body>
</html>