<!DOCTYPE html>
<html>
	<head>
		<title>31core - My space</title>
		<link href="/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<h2 style="color:white;-webkit-text-stroke:2px #66cbea;"><img src="/image/31.png" width=40>31core's website</h2>
		{% autoescape false %}
		{{menu}}
		{{list}}
		{% endautoescape %}
	</body>
</html>
